<?xml version="1.0" encoding="utf-8"?>
<service>
  <description>
    {{ zabbix_service_desc }}
    {{ ansible_managed }}
  </description>
  <port protocol="tcp" port="{{ zabbix_service_port }}"/>
</service>
